@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

.base_fonte_titulo {
	font-family: "Teko";
}

.base_fonte_corpo {
	font-family: "Patrick Hand";
}

.base_identacao_paragrafo {
	text-indent: 40px;
}

header {
	background: #1638C5;
}

.base_cabecalho {
	padding: 20px 0;
}

.base_cabecalho .base_logo {
	width: 15%;
	margin-left: 40px;
}

.base_cabecalho .base_menu {
	position: absolute;
	top: 65px;
	right: 0;
}

.base_cabecalho .base_menu li {
	display: inline;
	margin-right: 40px;
}

.base_cabecalho .base_menu a {
	color: #FFFFFF;
	font-size: 20px;
}

footer {
	background: #051865;
}

footer p a {
	color: #FFF;
}

.base_rodape {
	color: #FFFFFF;
	padding: 20px 0;
	width: 800px;
	margin: 0 auto;
}

.base_rodape p {
	margin-bottom: 10px;
}

.base_rodape .base_copyright {
	text-align: center;
}