main {
	background-image: url("../images/background_experiencias.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.experiencias_principal {
	padding: 20px;
}

.experiencias_faixa_logo {
	display: flex;
}

.experiencias_faixa_logo img {
	width: 25%;
}

.experiencias_botao {
	width: 200px;
	height: 40px;
	background-color: #38C6AA;
	border-style: none;
	border-radius: 50px;
}

.experiencias_botao:focus {
	outline-style: none;
}

.experiencias_formatacao_fonte {
	font-size: 25px;
	color: #000000;
	margin: 30px 0;
}

/* Centralizar 3 divs lado a lado. */
.experiencias_cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; /* fraction*/

	width: 90%;
	margin: 0 auto;
}

.experiencias_card {
	margin: 10px;
}

.experiencias_card_titulo {
	text-align: center;
	font-size: 28px;
	margin-bottom: 10px;
}

.experiencias_card_corpo {
	background-color: #B98100;
	padding: 20px;
	font-size: 23px;
}

.experiencias_lema_stefanini {
	text-align: center;
	margin: 50px 0;
	font-size: 40px;
}