main {
	background-image: url("../images/background_influencias.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.influencias_principal {
	padding: 20px;
}

.influencias_pessoa {
	display: flex;
	width: 100%;
	margin-bottom: 80px;
}

.influencias_pessoa_identificacao {
	width: 20%;
	margin-right: 50px;
}

.influencias_pessoa_identificacao_nome {
	height: 20px;
	color: #FFFFFF;
	text-decoration: underline;
	font-size: 27px;
	display: flex;
	justify-content: center;
}

.influencias_pessoa_identificacao_imagem {
	margin-top: 10px;
	background-color: #FFFFFF;
	height: 200px;
	text-align: center;
	padding: 10px;
}

.influencias_pessoa_identificacao_imagem_foto {
	width: 100%;
	height: 100%;
}

.influencias_pessoa_identificacao_link {
	margin-top: 10px;
	background-color: #FFFFFF;
	height: 50px;
	display: flex;
	text-align: center;
	justify-content: center;
}

.influencias_pessoa_identificacao_link_icone {
	margin: 10px 10px 10px 0;
}

.influencias_pessoa_identificacao_link_texto {
	margin: auto 0;
	font-size: 22px;
}

.influencias_pessoa_identificacao_link_texto a {
	text-decoration: none;
	color: #000;
} 

.influencias_pessoa_descricao {
	width: 80%;
	background-color: #FFFFFF;
	height: 280px;
	margin-top: 30px;
}

.influencias_pessoa_descricao p {
	font-size: 30px;
	padding: 10px;
	text-align: justify;
}